@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Fanwood+Text|Quattrocento');
.containermem {
    margin: 16px;
    font-family: 'Fanwood', serif;
    font-family: 'Quattrocento', serif;
    color: #4d4d4d;
    padding: 16px;
    text-align: center;
}
.navbars {
    display: inline-block;
}
.minititle {
    font-size: 18px;
    width: 75%;
    
}
.minipara {
    font-size: 18px;
    text-align: justify;
}
.benefits {
    text-align: left;
}
.memberprices {
    text-align: left;
}

.fa{
    padding:20px;
    font-size:30px;
    width:50px;
    text-align:center;
    text-decoration: none;
}


}

    
.jumbotron{
    background-image: url()
}
.mini {text-align: center;

}
.mission{
    position: relative;
    left: 20px;
    top:20px;
    margin: 40px;
    float:left;
    width: 33%;
    text-align: left;
    clear:left;
}
.display-3{
    width:100%;
    text-align:left;
    clear:left;
}


h1{
font-size: 50px;
    position: absolute;
}
    
.containerpb{
    padding:1em;
    color:aqua;
    background-color: black;
    clear: left;
    text-align: center;
}
    
