@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Playfair+Display');


h1{
 font-size:24px;
 }
article{
    text-align:left;
    font-size:44px;
    
}




a{
    padding:30px;
    font-size:30px;
    width:50px;
    text-align:left;
    text-decoration:5px 2px;
}
    
.mini {text-align: center;

}
.mission{
    position: relative;
    left: 20px;
s    margin: 40px;
    float:left;
    width: 33%;
    text-align: left;
    clear:left;
}
.display-3{
    width:100%;
    text-align:left;
    clear:left;
}

h1{
font-size: 50px;
    position: absolute;
}
.containerpb{
    padding:10em;
    color:aqua;
    background-color: black;
    clear: left;
    text-align: center;
}
    
